.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  /*  max-width: 100%; */
  width: 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

header {
  padding: 0.5em;
  background: url(/img/fon2.jpg) no-repeat;
  background-size: cover;
}

header img {
  max-width: 100%;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f7cebcd1;
}

.top__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__left div {
  margin: 10px;
}

.top__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.top__rigth div {
  margin: 10px;
}

ul {
  list-style: none;
}

.menu {
  background-color: #623b2ad1;
  color: #ffffff;
}

.menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #704C3D;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.menu a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFF;
}

.menu__title {
  height: 95px;
}

.menu__item {
  padding: 10px 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu__item:hover {
  background: #E04E39;
}

.menu__sub-menu {
  display: none;
  padding-left: 20px;
}

.menu__list {
  position: relative;
}

.menu__list:hover .menu__sub-menu {
  display: block;
}

.menu__list::after {
  content: '';
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent transparent #ffffff;
  top: 1em;
  right: 0.7em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__list:hover::after {
  top: 1.2em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
